.light-dark-container{
  display: flex;
  /*border: 1px solid red;
  */align-items: center;
  justify-content: center;
}

.light-dark-container>img{
  height: 50%;
  cursor: pointer;
}

.light-dark-container > .moon{
  margin-bottom: 0%;
  transition-duration:0.2s;
}

.light-dark-container > .sun{
  margin-bottom: 100%;
  transition-duration:0.2s;
}